<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <!-- DAO's -->
    <bean id="usuarioDao" class="com.becasipn.persistence.dao.jpa.UsuarioJpaDao" />
    <bean id="relacionMenuRolesDao" class="com.becasipn.persistence.dao.jpa.RelacionMenuRolesJpaDao" />
    <bean id="entidadFederativaDao" class="com.becasipn.persistence.dao.jpa.EntidadFederativaJpaDao" />
    <bean id="paisDao" class="com.becasipn.persistence.dao.jpa.PaisJpaDao" />
    <bean id="configuracionDao" class="com.becasipn.persistence.dao.jpa.ConfiguracionJpaDao" />

    <bean id="localidadColoniaDao" class="com.becasipn.persistence.dao.jpa.JpaDaoBase">
        <constructor-arg value="com.becasipn.persistence.model.LocalidadColonia" />
    </bean>
    <bean id="nacionalidadDao" class="com.becasipn.persistence.dao.jpa.JpaDaoBase">
        <constructor-arg value="com.becasipn.persistence.model.Nacionalidad" />
    </bean>
    <bean id="estadoCivilDao" class="com.becasipn.persistence.dao.jpa.JpaDaoBase">
        <constructor-arg value="com.becasipn.persistence.model.EstadoCivil" />
    </bean>
    <bean id="menuDao" class="com.becasipn.persistence.dao.jpa.MenuJpaDao" />
    <bean id="alumnoDao" class="com.becasipn.persistence.dao.jpa.AlumnoJpaDao" />
    <bean id="periodoDao" class="com.becasipn.persistence.dao.jpa.PeriodoJpaDao" />
    <bean id="unidadAcademicaDao" class="com.becasipn.persistence.dao.jpa.UnidadAcademicaJpaDao" />
    <bean id="cargoDao" class="com.becasipn.persistence.dao.jpa.CargoJpaDao" />
    <bean id="rolDao" class="com.becasipn.persistence.dao.jpa.RolJpaDao"/>
    <bean id="personalAdministrativoDao" class="com.becasipn.persistence.dao.jpa.PersonalAdministrativoJpaDao" />
    <bean id="cuestionarioDao" class="com.becasipn.persistence.dao.jpa.CuestionarioJpaDao" />
    <bean id="cuestionarioPreguntaRespuestaDao" class="com.becasipn.persistence.dao.jpa.CuestionarioPreguntaRespuestaJpaDao" />
    <bean id="cuestionarioPreguntaTipoDao" class="com.becasipn.persistence.dao.jpa.CuestionarioPreguntaTipoJpaDao" />
    <bean id="cuestionarioPreguntasDao" class="com.becasipn.persistence.dao.jpa.CuestionarioPreguntasJpaDao" />
    <bean id="cuestionarioRespuestasDao" class="com.becasipn.persistence.dao.jpa.CuestionarioRespuestasJpaDao" />
    <bean id="cuestionarioRespuestasUsuarioDao" class="com.becasipn.persistence.dao.jpa.CuestionarioRespuestasUsuarioJpaDao" />
    <bean id="cuestionarioSeccionDao" class="com.becasipn.persistence.dao.jpa.CuestionarioSeccionJpaDao" />
    <bean id="usuarioPrivilegioDao" class="com.becasipn.persistence.dao.jpa.UsuarioPrivilegioJpaDao"/>
    <bean id="direccionDao" class="com.becasipn.persistence.dao.jpa.DireccionJpaDao" />
    <bean id="inegiLocalidadDao" class="com.becasipn.persistence.dao.jpa.InegiLocalidadJpaDao" />
    <bean id="inegiTipoAsentamientoDao" class="com.becasipn.persistence.dao.jpa.InegiTipoAsentamientoJpaDao" />
    <bean id="inegiTipoVialidadDao" class="com.becasipn.persistence.dao.jpa.InegiTipoVialidadJpaDao" />
    <bean id="datosAcademicosDao" class="com.becasipn.persistence.dao.jpa.DatosAcademicosJpaDao" />



    <bean id="censoSaludDao" class="com.becasipn.persistence.dao.jpa.CensoSaludJpaDao" />
    
    
    <!-- Service -->
    <bean id="service" class="com.becasipn.service.Service"
          p:usuarioDao-ref="usuarioDao"
          p:relacionMenuRolesDao-ref="relacionMenuRolesDao"
          p:entidadFederativaDao-ref="entidadFederativaDao"
          p:paisDao-ref="paisDao"
          p:localidadColoniaDao-ref="localidadColoniaDao"
          p:nacionalidadDao-ref="nacionalidadDao"
          p:unidadAcademicaDao-ref="unidadAcademicaDao"
          p:configuracionDao-ref="configuracionDao"
          p:menuDao-ref="menuDao"
          p:alumnoDao-ref="alumnoDao"
          p:cargoDao-ref="cargoDao"
          p:rolDao-ref="rolDao"
          p:periodoDao-ref="periodoDao"
          p:personalAdministrativoDao-ref="personalAdministrativoDao"
          p:cuestionarioDao-ref="cuestionarioDao"
          p:cuestionarioPreguntaRespuestaDao-ref="cuestionarioPreguntaRespuestaDao"
          p:cuestionarioPreguntaTipoDao-ref="cuestionarioPreguntaTipoDao"
          p:cuestionarioPreguntasDao-ref="cuestionarioPreguntasDao"
          p:cuestionarioRespuestasDao-ref="cuestionarioRespuestasDao"
          p:cuestionarioRespuestasUsuarioDao-ref="cuestionarioRespuestasUsuarioDao"
          p:cuestionarioSeccionDao-ref="cuestionarioSeccionDao"
          p:usuarioPrivilegioDao-ref="usuarioPrivilegioDao"
          p:direccionDao-ref="direccionDao"
          p:inegiLocalidadDao-ref="inegiLocalidadDao"
          p:inegiTipoAsentamientoDao-ref="inegiTipoAsentamientoDao"
          p:inegiTipoVialidadDao-ref="inegiTipoVialidadDao"
          p:censoSaludDao-ref="censoSaludDao"
          p:datosAcademicosDao-ref="datosAcademicosDao"      
    />

    <!-- Ambiente -->
    <bean id="ambiente" class="com.becasipn.util.Ambiente" p:service-ref="service" />
</beans>
